.breed{
    display: flex;
    flex-direction: column;
}
.breed ul {
    display: flex; 
    flex-wrap: wrap; 
    list-style-type: none; 
     padding: 0;
}

.breed li {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    flex: 1 1 calc(25% - 10px); /* 3 columnas con un espacio de 10px entre ellas */
    margin: 5px;
}
@media (max-width: 650px) {
    .breed li {
        flex: 1 1 calc(35% - 10px);
        transition: 2s;
    }
    
}

/* @media (min-width: 650px) {
    .breed li {
        flex: 1 1 calc(30% - 10px);
        transition: 5s;
    }
    
} */