.Proyect{
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 100% 100%;
  overflow: hidden;

  padding: 50px 0;
  border-radius: 10px;
}

.Proyectos{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  animation: deslizamientoH 25s linear infinite;

}
@keyframes deslizamientoH{
  0% {
    transform: translateX(0);
}

100% {
    transform: translateX(-70%);
}
}


.p1{
   /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );  Puedes ajustar el número de columnas según tus necesidades */
     /*grid-gap: 10px; /* Espacio entre los elementos */
     width: 100%;
    height: auto;
  
    padding: 0 1.6%;
   
}
.p2{
   /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );  Puedes ajustar el número de columnas según tus necesidades */
     /*grid-gap: 10px; /* Espacio entre los elementos */
     width: 100%;
    height: auto;
  
    padding: 0 1.6%;
}
.p3{
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );  */
    width: 100%;
    height: auto;
  
    padding: 0 1.6%;
}
.p4{
     /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );  */
    width: 100%;
    height: auto;
   
    padding: 0 1.6%;
}
.p5{
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );  */
    width: 100%;
    height: auto;

    padding: 0 1.6%;
}




.p1imagen img{
    /* background: white; */
    width: 240px;
    
  
}
/* 
.bg {
  position: absolute;
  z-index: -1;
  inset: -4px;
  border-radius: 16px;
  overflow: hidden;
}

.uwu {
  filter: blur(8px);
  transition: filter 0.3s;
}

.bg::before {
  content: '';
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  min-width: 150%;
  min-height: 150%;
  background-image: conic-gradient(
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 60%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
  animation: speeen 4s linear infinite;
  transform-origin: 0% 0%;
  transform: rotate(0deg) translate(-50%, -50%);
}

@keyframes speeen {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
} */
.p1imagen img:hover{
    width: 280px;
    background: url("https://img1.picmix.com/output/stamp/normal/4/7/6/2/72674_e8bee.gif") no-repeat;
    background-position: 50% ;
    z-index: 0;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
  
}

.p2imagen img{
    /* background: rgb(214, 200, 8);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; */
  width: 184px;
  height: 250px;
  
}
.p2imagen img:hover{
    /* background: rgb(214, 200, 8);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; */
  width: 184px;
  height: 250px;
  background: url("https://img1.picmix.com/output/stamp/normal/4/7/6/2/72674_e8bee.gif") no-repeat;
  background-position: 50% ;
  z-index: 0;
  transition: transform 0.3s ease-out;
  border-radius: 50%;
}
.p3imagen img{
    /* background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none; */
    width:200px;
    height: 291px;
}
.p3imagen img:hover{
    /* background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none; */
    width:200px;
    height: 291px;
    background: url("https://img1.picmix.com/output/stamp/normal/4/7/6/2/72674_e8bee.gif") no-repeat;
    background-position: 50% ;
    z-index: 0;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
  
}

.p4imagen img{
    width: 200px;
    border: none;
}

.p4imagen img:hover{
    width: 200px;
    border: none;
    background: url("https://img1.picmix.com/output/stamp/normal/4/7/6/2/72674_e8bee.gif") no-repeat;
    background-position: 50% ;
    z-index: 0;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
}

.p5imagen img{
 background:transparent;
    width: 250px;
    border-radius: 1rem;
    filter: drop-shadow(1px 1px 20px #dbc4cd)
  
}


/*botones*/
