.about {
   
display: flex;
align-content:center ;
justify-content: center;
 padding: 1rem;
 background: #000000;
 box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
 backdrop-filter: blur( 0px );
 -webkit-backdrop-filter: blur( 0px );
height: 100vh;

}

.textB{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(0deg, #000000 29%, #ffffff 52%, #000000 75%);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 20s linear infinite;
}
@keyframes shine {
 to {
 background-position:center 500px ;
 }
}



.pr{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.pinimg.com/originals/90/b6/67/90b6672252bde02acf64720f5f876669.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p{
    text-align: justify;
    
 }
 /* .pr{

    opacity: 0; /* Inicialmente oculto 
    transform: translateY(100px);  Inicialmente desplazado hacia abajo 
    transition: opacity 0.5s, transform 0.5s;  Transiciones suaves
    animation: aparecer 1s forwards; Aplicar la animación 
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
.mano{
    color: black;
animation: myAnim 2s ease 0s infinite normal forwards;
background: rgb(65, 65, 65);
margin: 0 auto;
padding: 0%;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-items: center;
width: 13%;
text-align: center;
}



@keyframes myAnim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(50px);
        color: red;
   
     background: rgb(255, 255, 255);
	}
}

.pw{
   background: rgb(23, 26, 25);
}
.pw h1{
 margin:0 auto;
 padding: 0.5rem;
 font-size: 3rem;
}

