.about {
   

 padding: 1rem;
 background: rgba(51, 51, 51, 0.6);
 box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
 backdrop-filter: blur( 0px );
 -webkit-backdrop-filter: blur( 0px );


}
p{
    text-align: justify;
    
 }
 /* .pr{
    opacity: 0; /* Inicialmente oculto 
    transform: translateY(100px);  Inicialmente desplazado hacia abajo 
    transition: opacity 0.5s, transform 0.5s;  Transiciones suaves
    animation: aparecer 1s forwards; Aplicar la animación 
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
.mano{
   
color: red;
animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(50px);
	}
}


